<div class="card border-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <button id="fast-forward-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-fast-backward"></i></button>
                <button id="playback-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-play"></i></button>
                <button id="fast-backward-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-fast-forward"></i></button>
            </div>
            <div class="col-8">
                <div>
                    <span id="title">Song title</span> (<span id="length">0:00</span>)
                </div>
                <div>
                    by <span id="artist">Artist</span>
                </div>
                <div>
                    <span id="album">Album Name</span> - (#<span id="track">0</span>)
                </div>
            </div>
            <div class="col-1">
                <div id="cover" class="float-right"></div>
            </div>
        </div>
    </div>
</div>