<div class="card border-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <button id="fast-forward-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-fast-backward"></i></button>
                <button id="playback-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-play"></i></button>
                <button id="fast-backward-btn" type="button" class="btn btn-outline-primary btn-lg disabled"><i class="fas fa-fast-forward"></i></button>
            </div>
            <div class="col-8">
                <div>
                    <span id="title">Song title</span>
                </div>
                <div>
                    by <span id="artist">Artist</span>
                </div>
                <div class="slidecontainer">
                    <p><span id="title_cur_length">0:00</span> - <span id="title_length">0:00</span></p>
                    <input type="range" min="0" max="100" value="0" class="slider" id="durationSlider">
                </div>
                <div>
                    <span></span>
                </div>
            </div>
            <div class="col-1">
                <div id="cover" class="float-right"></div>
            </div>
        </div>
    </div>
</div>