<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="nav-artists-tab" data-toggle="pill" href="#nav-artists" role="tab" aria-controls="nav-artists" aria-selected="true">Artists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-albums-tab" data-toggle="pill" href="#nav-albums" role="tab" aria-controls="nav-albums" aria-selected="false">Albums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-songs-tab" data-toggle="pill" href="#nav-songs" role="tab" aria-controls="nav-songs" aria-selected="false">Songs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nav-current-songs-tab" data-toggle="pill" href="#nav-current-songs" role="tab" aria-controls="nav-current-songs" aria-selected="false">Current</a>
    </li>
</ul>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-artists" role="tabpanel" aria-labelledby="nav-artists-tab">
        <ul class="list-group list-group-flush" id="artists">
            {% if artists %}
                {% for artist in artists %}
                    <li class="link list-group-item list-group-item-action">{{ artist }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="tab-pane fade" id="nav-albums" role="tabpanel" aria-labelledby="nav-albums-tab">
        <ul class="list-group list-group-flush" id="albums"></ul>
    </div>
    <div class="tab-pane fade" id="nav-songs" role="tabpanel" aria-labelledby="nav-songs-tab">
        <ul class="list-group list-group-flush" id="songs"></ul>
    </div>
    <div class="tab-pane fade" id="nav-current-songs" role="tabpanel" aria-labelledby="nav-current-songs-tab">
        <ul class="list-group list-group-flush" id="current-songs"></ul>
    </div>
</div>

<!-- hidden elements for list population -->
<div id="templates" class="hidden">
    <li class="album link list-group-item list-group-item-action justify-content-between align-items-center d-flex">
        <span>
            <span class="badge badge-secondary prefix"></span>
                <span class="title"></span>
            </span>
        <span class="badge badge-primary badge-pill"></span>
    </li>
    <li class="song list-group-item list-group-item-action justify-content-between align-items-center d-flex">
        <span>
            <button type="button" class="btn btn-primary btn-sm add">
                <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm play">
                <i class="fas fa-play"></i>
            </button>
            <span class="badge badge-secondary prefix"></span>
            <span class="title"></span>
        </span>
        <span class="badge badge-primary badge-pill"></span>
    </li>
    <li class="song-current list-group-item list-group-item-action justify-content-between align-items-center d-flex">
        <span>
            <button type="button" class="btn btn-primary btn-sm delete-current">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm play-current">
                <i class="fas fa-play"></i>
            </button>
            <span class="badge badge-secondary prefix"></span>
            <span class="title"></span>
        </span>
        <span class="badge badge-primary badge-pill"></span>
    </li>
</div>