<script src="{{ url_for('static', filename='library.js') }}"></script>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Artists
            </div>
            <ul class="list-group list-group-flush" id="artists">
                {% if artists %}
                    {% for artist in artists %}
                        <li class="link list-group-item list-group-item-action">{{ artist }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Albums
            </div>
            <ul class="list-group list-group-flush" id="albums">
            </ul>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Songs
            </div>
            <ul class="list-group list-group-flush" id="songs">
            </ul>
        </div>
    </div>
</div>

<!-- hidden elements for list population -->
<div id="templates" class="hidden">
    <li class="album link list-group-item list-group-item-action justify-content-between align-items-center d-flex">
        <span>
            <span class="badge badge-secondary prefix"></span>
                <span class="title"></span>
            </span>
        <span class="badge badge-primary badge-pill"></span>
    </li>
    <li class="song list-group-item list-group-item-action justify-content-between align-items-center d-flex">
        <span>
            <button type="button" class="btn btn-primary btn-sm play">
                <i class="fas fa-play"></i>
            </button>
            <span class="badge badge-secondary prefix"></span>
            <span class="title"></span>
        </span>
        <span class="badge badge-primary badge-pill"></span>
    </li>
</div>