<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='third_party/bootstrap_darkly.min.css') }}" media="screen">
<script src="{{ url_for('static', filename='third_party/jquery-3.3.1.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='third_party/fontawesome_all-5.0.10.js') }}"></script>
<script src="{{ url_for('static', filename='helper.js') }}"></script>

<title>MPD Web GUI</title>

{%  include 'header.html' %}
{%  include 'library.html' %}