<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='third_party/bootstrap-darkly.min.css') }}" media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='third_party/socket-io-2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='third_party/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='third_party/bootstrap.bundle.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='third_party/fontawesome-all-5.0.10.js') }}"></script>
<script src="{{ url_for('static', filename='helper.js') }}"></script>
<script src="{{ url_for('static', filename='socket-helper.js') }}"></script>
<script src="{{ url_for('static', filename='status.js') }}"></script>
<script src="{{ url_for('static', filename='library.js') }}"></script>

<title>MPD Web GUI</title>
<div id="player">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    {%  include 'status.html' %}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
{#                <div class="card-body">#}
                    {%  include 'library.html' %}
{#                </div>#}
            </div>
        </div>
    </div>
</div>